* {
    box-sizing:border-box;
}
body {
    background-color:white;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}
ul.nav {
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-color:lightgray;;
    border-bottom:1px solid gray;
    list-style-type:none;
    margin:0;
    padding:15px;
    max-width:100%;
    overflow:auto;
    white-space: nowrap;
    text-align:center;
    z-index:1;
}
li {
    display:inline-block;
}
a.anav {
    background-color:#7da591;
    border:1px solid #7da591;
    border-radius:100px;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:30px;
    padding-left:30px;
    text-decoration:none;
    
}
a.anav:hover {
    background-color:white;
    color:#7da591;
    transition-duration:0.3s;
}
span.snav {
    font-size:24px;
    border-bottom:1px solid blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    text-decoration:none;
    margin-right:10px;
    margin-left:10px;
}
/* 
a.pleasure {
    font-style:italic;
    text-decoration:none;
    color:gray;
    cursor:default;
    user-select:none;
}
*/
.container {
    position:relative;
    top:8px;
}
.img {
    width:100%;
    height:800px;
    filter: contrast(110%);
    vertical-align: middle;
}
.imgres {
    display:none;
    width:100%;
    height:800px;
    filter: contrast(110%);
    vertical-align: middle;
}
.mySlides {
    display:none;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
/* 
div.body {
    position:absolute;
    width:30%;
    height:500px;
    top:10%;
    right:1%;
}
.pose {
    max-width:350px;
    max-height:260px;
    color:white;
    background-color:gray;
    opacity:0.7;
    padding:20px;
    overflow:auto;
    border-radius:8px;
}
.pose:hover {
    opacity: 1;
    color:white;
    transition-duration:0.5s;
}
.posetwo {
    position:absolute;
    width:30%;
    height:500px;
    top:50%;
    right:5%;
}
*/
div.body {
    width:80%;
    position:absolute;
    top:160px;
    text-align:center;
    left:10%;
    content:"";
    display:table;
    clear:both;
}
.hheader {
    font-family:serif;
    font-size:42px;
    color:white;
}
.pheader {
    font-family:serif;
    font-size:32px;
    font-weight:bold;
}
.dheader {
    background-color:black;
    color:white;
    opacity:0.6;
}
/*
.dheader:hover {
    background-color:white;
    color:black;
    opacity:0.6;
    text-decoration:underline gray;
    transition-duration:0.4s;
}
*/
a.dlink {
    border-bottom:4px solid green;
    text-decoration:none;
    color:white;
    font-family:serif;
    font-size:36px;
    box-shadow:inset 0 0 0 0 transparent;
    padding:5px;
    transition:color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.dlink:hover {
    box-shadow:inset 200px 0 0 0 #237893;
    color:white;
    border-bottom:4px solid green;
    
}
#creative {
    border:1px solid transparent;
    text-align:center;
    font-weight: 300;
    animation: lights 5s 750ms linear infinite;
    text-decoration:none;
    color:white;
    user-select:none;
    cursor:default;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:30px;
    padding-left:30px;
}
@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }


.dsection {
    width:100%;
    margin:auto;
    text-align:center;

}
.dsection::after {
    content:"";
    display:table;
    clear:both;
}
.dsection1 {
    width:25%;
    border:1px solid transparent;
    border-radius:12px;
    display:inline-block;
    margin:10px;
    margin-top:25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.sectionimg {
    width:100%;
    height:250px;
    border-top-left-radius:12px;
    border-top-right-radius:12px;
    opacity:0.9;
}
.sectionimg:hover {
    filter: contrast(120%);
    transition-duration:0.3s;
    opacity:1;
}
.dsection1 > div {
    padding-bottom:20px;
}
h5 {
    right:100%;
    font-family:Pompiere;
    font-size:26px;
    text-decoration:underline dodgerblue 4px;
}
.dsection1 > div > p {
    font-size:18px;
    font-family:Hubballi;
}
.visitb {
    text-decoration:none;
    color:green;
    border:2px solid green;
    background-color:white;
    padding:12px;
    border-radius:3px;
    font-size:16px;
    font-family:Amaranth;
}
.visitb:hover {
    background-color:green;
    color:white;
    transition-duration:0.3s;

}
.visitr {
    text-decoration:none;
    color:red;
    border:2px solid red;
    background-color:white;
    padding:12px;
    border-radius:3px;
    font-size:16px;
    font-family:Amaranth;
}
.visitr:hover {
    background-color:red;
    color:white;
    transition-duration:0.3s;

}
@media screen and (max-width:1170px) {
    .dsection{
        width:60%;
    }
    .dsection1 {
        float:left;
        width:100%;
    }
    div.body {
        width:100%;
        left:0%;
        text-align:justify;
        padding:10px;
    }
    .res {
        text-align:center
    }
}
@media screen and (max-width:750px) {
    .dsection{
        width:75%;
    }
    .dsection1 {
        float:left;
        width:100%;
    }
    .snav {
        display:none;
    }
    .dheader {
        background-color:transparent;
    }
    div.body {
        width:100%;
        left:0%;
        text-align:justify;
        padding:10px;
        border:1px solid transparent;
        border-radius:16px;
        background-color:gray;
        opacity:0.8;
    }
    div.res {
        text-align:center;
    }
    a.dlink {
        font-size:26px;
    }
    .dheader {
        font-size:24px;
    }
}

@media screen and (max-width:550px) {
    .dsection{
        width:85%;
    }
    .dsection1 {
        float:left;
        width:100%;
    }
    .snav {
        display:none;
    }
    .dheader {
        background-color:transparent;
    }
    div.body {
        width:100%;
        left:0%;
        text-align:justify;
        padding:10px;
        border:1px solid transparent;
        border-radius:16px;
        background-color:gray;
        opacity:0.8;
    }
    div.res {
        text-align:center;
    }
    .img {
        display:none
    }
    .imgres {
        display:block;
    }
    a.dlink {
        font-size:26px;
    }
    .dheader {
        font-size:24px;
    }
}
@media screen and (max-width:350px) {
    .dsection{
        width:90%;
    }
    .dsection1 {
        float:left;
        width:100%;
    }
    .snav {
        display:none;
    }
    .dheader {
        background-color:transparent;
    }
    div.body {
        width:100%;
        left:0%;
        text-align:justify;
        padding:10px;
        border:1px solid transparent;
        border-radius:16px;
        background-color:gray;
        opacity:0.8;
    }
    div.res {
        text-align:left;
    }
    .img {
        display:none
    }
    .imgres {
        display:block;
    }
    a.dlink {
        font-size:26px;
        display:inline-block
    }
    .dheader {
        font-size:24px;
    }
}
